Repository C3ETH/c3eth.github.io, pull requests merged in 2022-02, with the labels that each got.

#92 Content: New Catalyst TV Sections and pages
  .github/ISSUE_TEMPLATE/document-translation-for-catalyst-challenges.md
  .github/ISSUE_TEMPLATE/document-translation-for-epic-issues.md
  .github/ISSUE_TEMPLATE/document-translation-general.md
  .github/ISSUE_TEMPLATE/empty-issue-template.md
  README/vi/README.md
  config/_default/config.toml
  content/en/blog/news/_index.md
  content/en/blog/news/second-post.md
  content/en/catalystTV/_index.md
  content/en/catalystTV/episode-one.md
  content/id/catalyst/_index.md
  content/id/catalyst/fund7/_index.md
  content/id/catalyst/fund7/challenges/_index.md
  content/id/catalyst/fund7/challenges/accelerate-decentralized-id/campaign-brief.md
  content/id/catalyst/fund7/challenges/ai-singularitynet/campaign-brief.md
  content/id/catalyst/fund7/challenges/boost-cardanos-defi/campaign-brief.md
  content/id/catalyst/fund7/challenges/cardano-grassroots-defi/campaign-brief.md
  content/id/catalyst/fund7/challenges/catalyst-accelerator-mentors/campaign-brief.md
  content/id/catalyst/fund7/challenges/catalyst-native-coti/campaign-brief.md
  content/id/catalyst/fund7/challenges/catalyst-rapid-funding/campaign-brief.md
  content/id/catalyst/fund7/challenges/community-events/campaign-brief.md
  content/id/catalyst/fund7/challenges/connect-japan-community/campaign-brief.md
  content/id/catalyst/fund7/challenges/daos-love-cardano/campaign-brief.md
  content/id/catalyst/fund7/challenges/dapps-intergration/campaign-brief.md
  content/id/catalyst/fund7/challenges/disarm-cyber-disinfo-attacks/campaign-brief.md
  content/id/catalyst/fund7/challenges/fund8-challenge-settting/campaign-brief.md
  content/id/catalyst/fund7/challenges/gamers-on-chain/campaign-brief.md
  content/id/catalyst/fund7/challenges/glob-sus-inde-spos/campaign-brief.md
  content/id/catalyst/fund7/challenges/grow-latin-america/campaign-brief.md
  content/id/catalyst/fund7/challenges/improve-grow-audits/campaign-brief.md
  content/id/catalyst/fund7/challenges/lobbying-fav-legislation/campaign-brief.md
  content/id/catalyst/fund7/challenges/misc-challenge/campaign-brief.md
  content/id/catalyst/fund7/challenges/multilingo-resources/campaign-brief.md
  content/id/catalyst/fund7/challenges/nation-building-dapps/campaign-brief.md
  content/id/catalyst/fund7/challenges/new-spo-business-opportunities/campaign-brief.md
  content/id/catalyst/fund7/challenges/open-source-dev-eco/campaign-brief.md
  content/id/catalyst/fund7/challenges/scale-cardano-community-hubs/campaign-brief.md
  content/id/catalyst/fund7/challenges/sml-low-bud-dapps-Integrations/campaign-brief.md
  content/vi/_index.md
  content/vi/blog/_index.md
  content/vi/blog/news/_index.md
  content/vi/blog/news/first-post/index.md
  package-lock.json
  package.json
Labels: Content:Enhancement, Proposal:C3ETH, Catalyst:Fund 6, Catalyst:Fund 7

#145 Fund 8 challenges [English]
  content/en/catalyst/fund8/_index.md
  content/en/catalyst/fund8/challenge-setting-proposals/_index.md
  content/en/catalyst/fund8/challenges/Improve-and-grow-auditbility/campaign-brief.md
  content/en/catalyst/fund8/challenges/_index.md
  content/en/catalyst/fund8/challenges/accelerate-decentralized-idenity/campaign-brief.md
  content/en/catalyst/fund8/challenges/business-solutions (B2B & B2C)/campaign-brief.md
  content/en/catalyst/fund8/challenges/cardano-scaling-solutions /campaign-brief.md
  content/en/catalyst/fund8/challenges/community-advisor-improvements/campaign-brief.md
  content/en/catalyst/fund8/challenges/cross-chain-collaboration/campaign-brief.md
  content/en/catalyst/fund8/challenges/dapps-and-integrations/campaign-brief.md
  content/en/catalyst/fund8/challenges/developer-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/film-and-media-creatives-unite/campaign-brief.md
  content/en/catalyst/fund8/challenges/gamers-on-chained/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-africa-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-east-asia-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-india-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/lobbying-for-favorable-legislation/campaign-brief.md
  content/en/catalyst/fund8/challenges/miscellaneous-challenge/campaign-brief.md
  content/en/catalyst/fund8/challenges/nation-buidling-daaps/campaign-brief.md
  content/en/catalyst/fund8/challenges/new-member-onboarding/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-source-development-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-standards-and-interoperability/campaign-brief.md
  content/en/catalyst/fund8/challenges/scale-up-cardanos-community-hubs/campaign-brief.md
  content/en/catalyst/fund8/challenges/self-sovereign-identity/campaign-brief.md
  content/en/catalyst/fund8/challenges/the-great-migration-from-ethereum/campaign-brief.md
  content/en/catalyst/fund8/eth-proposals/_index.md
Labels: Language:English, Catalyst:Challenge, Proposal:Challenge, Translation:Infrastruture, Catalyst:Fund 8

#146 Translation Content: Fund 8 challenges [English]: Base English Markdown files
  .github/ISSUE_TEMPLATE/document-translation-for-catalyst-challenges.md
  content/en/catalyst/fund8/_index.md
  content/en/catalyst/fund8/challenge-setting-proposals/_index.md
  content/en/catalyst/fund8/challenges/Improve-and-grow-auditbility/campaign-brief.md
  content/en/catalyst/fund8/challenges/_index.md
  content/en/catalyst/fund8/challenges/accelerate-decentralized-idenity/campaign-brief.md
  content/en/catalyst/fund8/challenges/business-solutions-b2b-b2c/campaign-brief.md
  content/en/catalyst/fund8/challenges/cardano-scaling-solutions /campaign-brief.md
  content/en/catalyst/fund8/challenges/community-advisor-improvements/campaign-brief.md
  content/en/catalyst/fund8/challenges/cross-chain-collaboration/campaign-brief.md
  content/en/catalyst/fund8/challenges/dapps-and-integrations/campaign-brief.md
  content/en/catalyst/fund8/challenges/developer-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/film-and-media-creatives-unite/campaign-brief.md
  content/en/catalyst/fund8/challenges/gamers-on-chained/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-africa-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-east-asia-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-india-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/lobbying-for-favorable-legislation/campaign-brief.md
  content/en/catalyst/fund8/challenges/miscellaneous-challenge/campaign-brief.md
  content/en/catalyst/fund8/challenges/nation-buidling-daaps/campaign-brief.md
  content/en/catalyst/fund8/challenges/new-member-onboarding/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-source-development-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-standards-and-interoperability/campaign-brief.md
  content/en/catalyst/fund8/challenges/scale-up-cardanos-community-hubs/campaign-brief.md
  content/en/catalyst/fund8/challenges/self-sovereign-identity/campaign-brief.md
  content/en/catalyst/fund8/challenges/the-great-migration-from-ethereum/campaign-brief.md
  content/en/catalyst/fund8/eth-proposals/_index.md
Labels: Language:English, Translation:Content, Catalyst:Challenge, Proposal:Challenge, Catalyst:Fund 8

#149 C3eth.github.io [Hotfix]: Naming convention Fix
  content/en/catalyst/fund8/challenges/cardano-scaling-solutions/campaign-brief.md
Labels: Project:Bug

#152 Content Enhancement [Fund 8]: Catalyst challenge banners
  content/en/catalyst/fund8/challenges/Improve-and-grow-auditbility/campaign-brief.md
  content/en/catalyst/fund8/challenges/accelerate-decentralized-idenity/campaign-brief.md
  content/en/catalyst/fund8/challenges/business-solutions-b2b-b2c/campaign-brief.md
  content/en/catalyst/fund8/challenges/cardano-scaling-solutions/campaign-brief.md
  content/en/catalyst/fund8/challenges/community-advisor-improvements/campaign-brief.md
  content/en/catalyst/fund8/challenges/cross-chain-collaboration/campaign-brief.md
  content/en/catalyst/fund8/challenges/dapps-and-integrations/campaign-brief.md
  content/en/catalyst/fund8/challenges/developer-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/film-and-media-creatives-unite/campaign-brief.md
  content/en/catalyst/fund8/challenges/gamers-on-chained/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-africa-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-east-asia-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-india-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/lobbying-for-favorable-legislation/campaign-brief.md
  content/en/catalyst/fund8/challenges/miscellaneous-challenge/campaign-brief.md
  content/en/catalyst/fund8/challenges/nation-buidling-daaps/campaign-brief.md
  content/en/catalyst/fund8/challenges/new-member-onboarding/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-source-development-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-standards-and-interoperability/campaign-brief.md
  content/en/catalyst/fund8/challenges/scale-up-cardanos-community-hubs/campaign-brief.md
  content/en/catalyst/fund8/challenges/self-sovereign-identity/campaign-brief.md
  content/en/catalyst/fund8/challenges/the-great-migration-from-ethereum/campaign-brief.md
Labels: Content:Enhancement, Catalyst:Fund 8

#153 Content Translation [Fund 8],site maintenance : Website Release w/Intial Japanese translations
  content/en/catalyst/fund8/challenges/Improve-and-grow-auditbility/campaign-brief.md
  content/en/catalyst/fund8/challenges/accelerate-decentralized-idenity/campaign-brief.md
  content/en/catalyst/fund8/challenges/business-solutions-b2b-b2c/campaign-brief.md
  content/en/catalyst/fund8/challenges/cardano-scaling-solutions/campaign-brief.md
  content/en/catalyst/fund8/challenges/community-advisor-improvements/campaign-brief.md
  content/en/catalyst/fund8/challenges/cross-chain-collaboration/campaign-brief.md
  content/en/catalyst/fund8/challenges/dapps-and-integrations/campaign-brief.md
  content/en/catalyst/fund8/challenges/developer-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/film-and-media-creatives-unite/campaign-brief.md
  content/en/catalyst/fund8/challenges/gamers-on-chained/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-africa-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-east-asia-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/grow-india-grow-cardano/campaign-brief.md
  content/en/catalyst/fund8/challenges/lobbying-for-favorable-legislation/campaign-brief.md
  content/en/catalyst/fund8/challenges/miscellaneous-challenge/campaign-brief.md
  content/en/catalyst/fund8/challenges/nation-buidling-daaps/campaign-brief.md
  content/en/catalyst/fund8/challenges/new-member-onboarding/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-source-development-ecosystem/campaign-brief.md
  content/en/catalyst/fund8/challenges/open-standards-and-interoperability/campaign-brief.md
  content/en/catalyst/fund8/challenges/scale-up-cardanos-community-hubs/campaign-brief.md
  content/en/catalyst/fund8/challenges/self-sovereign-identity/campaign-brief.md
  content/en/catalyst/fund8/challenges/the-great-migration-from-ethereum/campaign-brief.md
  content/ja/_index.md
  content/ja/blog/news/first-post/index.md
  content/ja/catalyst/fund8/_index.md
  content/ja/catalyst/fund8/challenges/Improve-and-grow-auditbility/campaign-brief.md
  content/ja/catalyst/fund8/challenges/_index.md
  content/ja/catalyst/fund8/challenges/accelerate-decentralized-idenity/campaign-brief.md
  content/ja/catalyst/fund8/challenges/business-solutions-b2b-b2c/campaign-brief.md
  content/ja/catalyst/fund8/challenges/cardano-scaling-solutions/campaign-brief.md
  content/ja/catalyst/fund8/challenges/cross-chain-collaboration/campaign-brief.md
  content/ja/catalyst/fund8/challenges/dapps-and-integrations/campaign-brief.md
  content/ja/catalyst/fund8/challenges/developer-ecosystem/campaign-brief.md
  content/ja/catalyst/fund8/challenges/film-and-media-creatives-unite/campaign-brief.md
  content/ja/catalyst/fund8/challenges/gamers-on-chained/campaign-brief.md
  content/ja/catalyst/fund8/challenges/grow-africa-grow-cardano/campaign-brief.md
  content/ja/catalyst/fund8/challenges/grow-east-asia-grow-cardano/campaign-brief.md
  content/ja/catalyst/fund8/challenges/grow-india-grow-cardano/campaign-brief.md
  content/ja/catalyst/fund8/challenges/lobbying-for-favorable-legislation/campaign-brief.md
  content/ja/catalyst/fund8/challenges/miscellaneous-challenge/campaign-brief.md
  content/ja/catalyst/fund8/challenges/nation-buidling-daaps/campaign-brief.md
  content/ja/catalyst/fund8/challenges/new-member-onboarding/campaign-brief.md
  content/ja/catalyst/fund8/challenges/open-source-development-ecosystem/campaign-brief.md
  content/ja/catalyst/fund8/challenges/open-standards-and-interoperability/campaign-brief.md
  content/ja/catalyst/fund8/challenges/scale-up-cardanos-community-hubs/campaign-brief.md
  content/ja/catalyst/fund8/challenges/self-sovereign-identity/campaign-brief.md
  content/ja/catalyst/fund8/challenges/the-great-migration-from-ethereum/campaign-brief.md
  content/ja/stakepool/_index.md
  package-lock.json
  package.json
Labels: Content:Enhancement, Website:Dependencies, Language:Japanese, Catalyst:Challenge, Catalyst:Fund 8

#155 Content Translation [About Page] Indonesian
  content/id/about/_index.html
Labels: Content:Enhancement, Language:Indonesian
