Repository C3ETH/c3eth.github.io, pull requests merged in 2022-04, with the labels that each got.

#168 Rev/Add Content (Indonesian)-31-03-2022
  content/id/docs/Catalyst/_index.md
  content/id/docs/Catalyst/kriteria-assessment-proposal.md
  content/id/docs/Catalyst/project-catalyst-challenge-and-proposal-guide.md
  content/id/docs/kegiatan-eastern-townhall-indonesia.md
Labels: Content:Enhancement, Language:Indonesian

#170 Website Release - Content Enhancement [Indonesian]
  content/id/docs/Catalyst/_index.md
  content/id/docs/Catalyst/kriteria-assessment-proposal.md
  content/id/docs/Catalyst/project-catalyst-challenge-and-proposal-guide.md
  content/id/docs/kegiatan-eastern-townhall-indonesia.md
Labels: Content:Enhancement, Language:Indonesian

#175 [Infrastructure]: Github PR Site Test Bot
  .github/workflows/dry_run.yml
  content/id/docs/Catalyst/_index.md
  content/id/docs/Pengetahuan Umum/_index.md
  content/id/docs/Pengetahuan Umum/crypto-wallet.md
  content/id/docs/Pengetahuan Umum/proof-of-stake.md
  content/id/docs/Seputar Cardano/_index.md
  content/id/docs/Seputar Cardano/parameter-parameter-Cardano.md
  content/id/docs/Seputar Cardano/serba-serbi-staking-ada.md
  content/id/docs/_index.md
  content/id/docs/kegiatan-eastern-townhall-indonesia.md
Labels: Content:Enhancement, Translation:Infrastruture

#176 Website Release - Content Enhancement [Indonesian] - 12-04-2022
  .github/workflows/dry_run.yml
  content/id/docs/Catalyst/_index.md
  content/id/docs/Pengetahuan Umum/_index.md
  content/id/docs/Pengetahuan Umum/crypto-wallet.md
  content/id/docs/Pengetahuan Umum/proof-of-stake.md
  content/id/docs/Seputar Cardano/_index.md
  content/id/docs/Seputar Cardano/parameter-parameter-Cardano.md
  content/id/docs/Seputar Cardano/serba-serbi-staking-ada.md
  content/id/docs/_index.md
  content/id/docs/kegiatan-eastern-townhall-indonesia.md
Labels: Content:Enhancement, Language:Indonesian

#178 Content Enhancement Indonesian - 26-04-2022
  content/id/docs/Pengetahuan Umum/seputar-tokenomics.md
  content/id/docs/Seputar Cardano/biaya-transaksi-di-Cardano.md
  content/id/docs/Seputar Cardano/parameter-desentralisasi-cardano.md
  content/id/docs/Seputar Cardano/parameter-jaringan-cardano.md
  content/id/docs/Seputar Cardano/roadmap-cardano.md
Labels: Content:Enhancement, Language:Indonesian

#179 Minor Revision - 28-04-2022
  content/id/docs/Seputar Cardano/parameter-desentralisasi-cardano.md
Labels: Content:Enhancement, Language:Indonesian

#172 Content [Catalyst TV]: Add new episodes to CatalystTV
  config/_default/config.toml
  content/en/catalystTV/_index.md
  content/en/catalystTV/fund7/_index.md
  content/en/catalystTV/fund7/episode-one.md
  content/en/catalystTV/fund8/DeFiShouldBeMoreFun.md
  content/en/catalystTV/fund8/FIMIVietnameseCardanoTalk.md
  content/en/catalystTV/fund8/HaskellBookVietnameseJapaneseTranslation.md
  content/en/catalystTV/fund8/ImpactFinanceRegulatorySandbox.md
  content/en/catalystTV/fund8/MakeContentMoreFuntoLearnEasy.md
  content/en/catalystTV/fund8/P.I.EforCommunityDev.md
  content/en/catalystTV/fund8/TADATek-Insights.md
  content/en/catalystTV/fund8/_index.md
  content/en/catalystTV/fund8/cardanoAnnualMarketReport.md
  content/en/catalystTV/fund8/cardanoCoffeelounge.md
  content/en/catalystTV/fund8/cardanoHubVideoSeries .md
  content/en/catalystTV/fund8/cardanoSAYNOPlasticStraws.md
  content/en/catalystTV/fund8/challengeScoutedStudents.md
  content/en/catalystTV/fund8/haskellCourseBeginnerViet.md
  content/en/catalystTV/fund8/makeLearnCardanoEasier copy.md
  content/en/catalystTV/fund8/serviceMarketplace.md
  content/en/catalystTV/fund8/townhallChannelViet.md
Labels: Content:Enhancement, Language:English, Catalyst:Fund 8
